# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# IDEs & OS Files
.vscode/
.idea/
.DS_Store
.cursorignore
.cursorindexingignore

# Environments
.env
.venv
venv/
env/

# Package distributions / Testing
dist/
build/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Project specifics
.env.railway.production